.slider--recursos--section {
    width: 85%;
    height: 600px;
    margin: 6rem 0 6rem 15%; 
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    height: 550px;
}
.slider--recursos--section h1{
    width: 100px;
    margin: 0;
}
.slider--recursos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.slider--recursos__botones{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.controls-progress__recursos {
    display: flex;
    align-items: center;
    gap: 1rem;
   
}



.progress-bar__recursos {
    width: 100%;
    height: 3px;
    background-color: #999999;
    overflow: hidden;
}

.progress__recursos {
    height: 100%;
    background-color: #fff;
    transition: width 0.5s ease-in-out;
}

.controls-slider {
    display: flex;
    gap: 0.5rem;
}

.slider--recursos-button {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #252525;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider--recursos-button:hover {
    background-color: #94dee5;
    color: #252525;
}   

.slider--recursos-container {
    width: 100%;
    overflow: hidden;
    display: flex;
}                  
.slider--recursos-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 2rem;
    width: 85%;
    gap: 8rem;
}

.slider--recursos-item {
    min-width: 400px;
    height: 580px;
    position: relative;
}

.slider--recursos-image {
    width: 540px;
    height: 440px;
    object-fit: cover;
}

.slider--recursos-text {
    position: absolute;
    bottom: 160px;
    left: 20px;
    color: white;
    padding: 10px;
}

.slider--recursos-text h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: "obviously-wide", sans-serif;
}

.slider--recursos-link {
    display: block;
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.slider--recursos-buttons{
    display: flex;
    gap: 1rem;
}

.vertical-text {
  writing-mode: vertical-rl; /* Texto en vertical de derecha a izquierda */
  text-orientation: mixed; /* Permite que algunos caracteres se mantengan en su orientación natural *//* Hace que el texto se lea de abajo hacia arriba */
}
