*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased; /* Mejora la nitidez en WebKit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* Mejora en macOS */
  text-rendering: optimizeLegibility;
  line-height: 1;
}
body{
  min-height: 100vh;
  background-color: #252525;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

.h1--big{
  font-family: "termina", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 100px;
  margin: 0;
}

.text-outline {            /* Fuente en negrita para un mejor contorno */
  color: transparent;            /* Relleno transparente */
 /* Contorno negro de 2px */     /* Opcional: convertir el texto en mayúsculas */
}

.yellow--stroke {            /* Fuente en negrita para un mejor contorno */
  -webkit-text-stroke: 2px #f2d876; 
}
.black--stroke {            /* Fuente en negrita para un mejor contorno */
  -webkit-text-stroke: 2px #252525; 
}
.white--stroke {            /* Fuente en negrita para un mejor contorno */
  -webkit-text-stroke: 2px #fff; 
}

p {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: none;
}


/********************************************************/  /* SECTION */

.section--dark{
  background-color: #252525;
  color: white;
}

.section--clear{
  background-color: #f3eded;
  color: #252525;
}



/********************************************************/




.button_link {
  font-size: 14px;
  font-family: "termina", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  border-bottom: solid 3px #c2c1c1;
  color: #252525;
  transition: 0.2s;
  text-decoration: none;
}

.button_link:hover {
  color: #ec5d56;
}

.btn{
  all:unset;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 14px;
  font-family: "termina", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.btn--secundary--w{
  
  background-color: transparent;
  color: white;
  border: solid 2px white;
 
}

.btn--secundary--w:hover{
  background-color: white;
  color: #252525;
} 

.btn--primary--y{
  
  background-color: #f2d876;
  color: #252525;
 
}

.btn--primary--y:hover{
  background-color: white;
  color: #252525;
}

/*********************************************************/

.slider2-item {
  position: relative;
  width: 400px;
  height: 580px;
}

.slider2-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-align: left;
  width: 90%;
}

.slider2-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: "termina", sans-serif;
}

.slider2-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.slider2-link {
  display: inline-block;
  color: #fff;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: solid 3px #94dee5;
  font-family: "termina", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-left: 20px;
}

.slider2-link:hover {
  color: #94dee5;
}